LOCATE COMP "clk30" SITE "B12";
IOBUF PORT "clk30" IO_TYPE=LVCMOS18;
FREQUENCY PORT "clk30" 30.0 MHz;

LOCATE COMP "rst_n" SITE "R3";
IOBUF PORT "rst_n" IO_TYPE=LVCMOS33 OPENDRAIN=ON;

LOCATE COMP "button[0]" SITE "U16";
IOBUF PORT "button[0]" IO_TYPE=SSTL135_I;

LOCATE COMP "button[1]" SITE "T17";
IOBUF PORT "button[1]" IO_TYPE=SSTL135_I;

LOCATE COMP "LED[0]" SITE "C13";
IOBUF PORT "LED[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "LED[1]" SITE "D12";
IOBUF PORT "LED[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "LED[2]" SITE "U2";
IOBUF PORT "LED[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "LED[3]" SITE "T3";
IOBUF PORT "LED[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "LED[4]" SITE "D13";
IOBUF PORT "LED[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "LED[5]" SITE "E13";
IOBUF PORT "LED[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "LED[6]" SITE "C16";
IOBUF PORT "LED[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "LEDC[0]" SITE "T1";
IOBUF PORT "LEDC[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "LEDC[1]" SITE "U1";
IOBUF PORT "LEDC[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "LEDC[2]" SITE "R1";
IOBUF PORT "LEDC[2]" IO_TYPE=LVCMOS33;
